<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Les Utilisateurs</h4>
                        <p class="category">Tableau répertoriant l'ensemble des utilisateurs de l'application</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                    <th>Ah</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{user.id}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.cellPhone}}</td>
                                    <td>{{user.ahAmount}}</td>
                                    <td>
                                        <button class="btn btn-default" [routerLink]="['/user', user.id]">
                                            <i class="material-icons">mode_edit</i>
                                        </button>
                                        <button class="btn btn-danger" >
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
