page-home {

}

.home-annonce ion-avatar img {
  width:80px;
  height:80px;
}

.home-annonce h1 {
  font-size:18px;
  font-weight:bold;
}

.home-annonce h2 {
  font-size:14px;
  text-align:left;
}

.home-annonce h3 {
  font-size:12px;
  font-style:italic;
  color:grey;
  text-align:left;
  margin-top:5px;
}
