<div class="main-content">
<div class="container-fluid" *ngIf="user">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Profil</h4>
                    <p class="category">Informations de l'utilisateur</p>
                </div>
                <div class="card-content">
                    <form contenteditable="true">
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group form-black is-empty">
                                    <label class="control-label">Prénom</label>
                                    <label class="contenteditable form-control" style="color:black;">{{user.firstName}}</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black is-empty">
                                    <label class="control-label">Nom de famille</label>
                                    <label class="contenteditable form-control" style="color:black;">{{user.lastName}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-black is-empty">
                                    <label class="control-label">Numéro de téléphone</label>
                                    <label type="number" class="contenteditable form-control" style="color:black;">{{user.cellPhone}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black is-empty">
                                    <label class="control-label">Adresse email</label>
                                    <label type="email" class="contenteditable form-control" style="color:black;">{{user.email}}</label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-default pull-right">Enregistrer les modifications</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="card" *ngIf="addresses && cities">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Adresses</h4>
                    <p class="category">Utilisées par ce profil</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-danger">
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Complément</th>
                        </thead>
                        <tbody contenteditable="true">
                        <tr *ngFor="let address of addresses">
                            <td class="contenteditable">{{address.name}}</td>
                            <td class="contenteditable">{{address.address}}</td>
                            <td class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">{{cities[address.cityId - 1].name}}</a>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let city of cities"><a>{{city.name}}</a></li>
                                </ul>
                            </td>
                            <td class="contenteditable">{{address.complement}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-default pull-right">Enregistrer les modifications</button>
                </div>
            </div>
            <div class="card" *ngIf="announces && types">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Annonces</h4>
                    <p class="category">Postées par ce profil</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-danger">
                        <th>Titre</th>
                        <th>Prix</th>
                        <th>Temps estimé</th>
                        <th>Type</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let announce of announces">
                            <td>{{announce.title}}</td>
                            <td>{{announce.price}}</td>
                            <td>{{announce.estimatedTime}}</td>
                            <td>{{types[announce.typeId - 1].name}}</td>
                            <td class="btn btn-default">voir</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <img class="img" src="../assets/img/ahPiece_big.png" />
                </div>

                <div class="content">
                    <h6 class="category text-gray">Nombre de AH !</h6>
                    <h4 class="card-title">{{user.ahAmount}}</h4>
                    <a href="ModifyAh" class="btn btn-default btn-round">Modifier</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
