<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let notif of notifications">
      <ion-card *ngIf="notif && notif.announce && !notif.read" (click)="selectNotif(notif)" [ngClass]="{'notif-new': !notif.read }">
        <ion-card-content>
          <p class="notif-message" *ngIf="notif.type == 'answer'">{{notif.transaction.name}} a répondu à votre annonce "<strong>{{notif.announce.title}}</strong>". Vous pouvez accepter ou refuser son offre.</p>
          <p class="notif-message" *ngIf="notif.type == 'accept'">Votre réponse à l'annonce "<strong>{{notif.announce.title}}</strong>" vient d'être acceptée. Vous pouvez désormais <strong>rentrer en contact</strong> avec le posteur de l'annonce.</p>
          <p class="notif-message" *ngIf="notif.type == 'end'">Le service <strong>{{notif.announce.title}}</strong> vient d'être marqué comme réalisé. Veuillez maintenant <strong>valider cette réalisation</strong> à votre tour pour effectuer le transfert des AH!.</p>
          <p class="notif-message" *ngIf="notif.type == 'close'">Le service <strong>{{notif.announce.title}}</strong> vient d'être marqué comme réalisé. Vous avez reçu <strong>{{notif.announce.price}} AH!</strong>.</p>
          <p class="notif-message" *ngIf="notif.type == 'cancel'">L'annonce <strong>{{notif.announce.title}}</strong> vient d'être annulée.</p>

          <p class="notif-infos" *ngIf="notif.timeNb == 0"><ion-icon [name]="notif.icon"></ion-icon> aujourd'hui</p>
          <p class="notif-infos" *ngIf="notif.timeNb == 1"><ion-icon [name]="notif.icon"></ion-icon> hier</p>
          <p class="notif-infos" *ngIf="notif.timeNb > 1"><ion-icon [name]="notif.icon"></ion-icon> il y a {{notif.timeNb}} jours</p>
        </ion-card-content>
      </ion-card>
    </div>
    <hr>
    <div *ngFor="let notif of notifications">
      <ion-card *ngIf="notif && notif.announce && notif.read"  (click)="selectNotif(notif)" [ngClass]="{'notif-new': !notif.read }">
        <ion-card-content>
          <p class="notif-message" *ngIf="notif.type == 'answer'">{{notif.transaction.name}} a répondu à votre annonce "<strong>{{notif.announce.title}}</strong>". Vous pouvez accepter ou refuser son offre.</p>
          <p class="notif-message" *ngIf="notif.type == 'accept'">Votre réponse à l'annonce "<strong>{{notif.announce.title}}</strong>" vient d'être acceptée. Vous pouvez désormais <strong>rentrer en contact</strong> avec le posteur de l'annonce.</p>
          <p class="notif-message" *ngIf="notif.type == 'end'">Le service <strong>{{notif.announce.title}}</strong> vient d'être marqué comme réalisé. Veuillez maintenant <strong>valider cette réalisation</strong> à votre tour pour effectuer le transfert des AH!.</p>
          <p class="notif-message" *ngIf="notif.type == 'close'">Le service <strong>{{notif.announce.title}}</strong> vient d'être marqué comme réalisé. Vous avez reçu <strong>{{notif.announce.price}} AH!</strong>.</p>
          <p class="notif-message" *ngIf="notif.type == 'cancel'">L'annonce <strong>{{notif.announce.title}}</strong> vient d'être annulée.</p>

          <p class="notif-infos" *ngIf="notif.timeNb == 0"><ion-icon [name]="notif.icon"></ion-icon> aujourd'hui</p>
          <p class="notif-infos" *ngIf="notif.timeNb == 1"><ion-icon [name]="notif.icon"></ion-icon> hier</p>
          <p class="notif-infos" *ngIf="notif.timeNb > 1"><ion-icon [name]="notif.icon"></ion-icon> il y a {{notif.timeNb}} jours</p>
        </ion-card-content>
      </ion-card>
    </div>
	</ion-list>
</ion-content>
