page-notifications {

}

.notif-new {
  background-color:#ffe6e6;
}

.notif-message { 
  text-align:justify;
}

.notif-infos {
  color:grey !important;
  text-align:right;
  font-size:12px !important;
}
