#annonce-title {
    text-align: center;
}

#annonce-description {
	text-align: justify;
}

#location {
	text-align: right;
}

#price {
	text-align: left;
}

#answer-button {
	float: right;
}

#publication-date {
    color: grey;
    font-style: italic;
}

#logo {
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#address {
    color: grey;
    font-style: italic;
}

#price {
    text-align: center;
}