<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Annonce</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <img id="logo" [src]="'../../assets/icon/service-type/'+service.announce_type.icon+'.png'">
	<h1 id="annonce-title">{{service.title}}</h1>
	<h4 id="price">{{price}}</h4>
	<h4 id="address">{{service.address}}</h4>

	<hr/>
	<p id="annonce-description">{{service.description}}</p>
	<hr/>

	<div id="start-time">
		<ion-icon name="calendar"></ion-icon> De
		{{service.startTime | date:'dd/MM/yyyy hh:mm'}} à
		{{service.endTime | date:'dd/MM/yyyy hh:mm'}}
	</div>

	<div id="duration">
		<ion-icon name="alarm"></ion-icon>
		{{estimatedTime}}
	</div>

	<br/>
	<div id="publication-date">
		{{creationTime}}
	</div>

  <hr/>
  
  <ion-item>
    <ion-avatar item-left>
      <img src="../../assets/ahDenis.jpg">
    </ion-avatar>
    <p>Postée par</p>
    <h2>{{service.user.firstName}} {{service.user.lastName}}</h2>
  </ion-item>


	<ion-fab right bottom *ngIf="!service.closed && connectedUser && (connectedUser.id != service.user.id)">
		<button ion-fab color="light" (click)="answerAnnonce($event, service)"><ion-icon name="send"></ion-icon></button>
	</ion-fab>
	<ion-fab right bottom *ngIf="!service.closed && connectedUser && (connectedUser.id == service.user.id)">
		<button ion-fab color="light" (click)="checkTransaction($event, service)"><ion-icon name="chatbubbles"></ion-icon></button>
	</ion-fab>
</ion-content>
