<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Annonce</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <img id="logo" [src]="'assets/icon/service-type/'+service.type.icon+'.png'">
	<h1 id="annonce-title">{{service.title}}</h1>
	<h4 id="price"><img [src]="'../../assets/ahPiece_small.png'" class="ah-icon" />  {{price}}</h4>
	<h4 id="address">{{service.address.district}}</h4>

	<hr/>
	<p id="annonce-description">{{service.description}}</p>
	<hr/>

	<div id="start-time" *ngIf="service.startTime && service.endTime">
		<ion-icon name="calendar"></ion-icon> Du
		{{service.startTime | date:'dd/MM/yyyy'}} au
		{{service.endTime | date:'dd/MM/yyyy'}}
	</div>
	<div id="start-time" *ngIf="service.startTime && !service.endTime">
		<ion-icon name="calendar"></ion-icon>
		A partir du {{service.startTime | date:'dd/MM/yyyy'}}
	</div>
	<div id="start-time" *ngIf="!service.startTime && service.endTime">
		<ion-icon name="calendar"></ion-icon>
		Jusqu'au {{service.endTime | date:'dd/MM/yyyy'}}
	</div>

	<div id="duration">
		<ion-icon name="alarm"></ion-icon>
		{{estimatedTime}}
	</div>

	<br/>
	<div id="publication-date">
		{{creationTime}}
	</div>

  <hr/>

  <ion-item>
    <ion-avatar item-left>
      <img src="assets/ahDenis.jpg" (click)="openProfile($event, service)">
    </ion-avatar>
    <p>Postée par</p>
    <h2 (click)="openProfile($event, service)">{{service.author.firstName}} {{service.author.lastName}}</h2>
  </ion-item>

	<ion-fab right bottom *ngIf="!service.closed && !acceptedTransaction && connectedUser && (connectedUser.id == service.author.id)">
		<button ion-fab color="light" (click)="checkTransaction($event, service)"><ion-icon name="chatbubbles"></ion-icon></button>
	</ion-fab>
	<ion-fab right bottom *ngIf="!service.closed && !acceptedTransaction && connectedUser && (connectedUser.id != service.author.id)">
		<button ion-fab color="light" (click)="answerAnnonce($event, service)"><ion-icon name="send"></ion-icon></button>
	</ion-fab><!--
	<ion-fab right bottom *ngIf="!service.closed && connectedUser && answer">
		<button ion-fab color="light" (click)="answerAnnonce($event, service)"><ion-icon name="heart"></ion-icon></button>
	</ion-fab>-->
	<ion-fab right bottom *ngIf="!service.closed && acceptedTransaction && connectedUser && (connectedUser.id == service.author.id || connectedUser.id == acceptedTransaction.sellerId || connectedUser.id == acceptedTransaction.buyerId)">
		<button ion-fab color="light" (click)="goToPinCode($event, service)"><ion-icon name="cash"></ion-icon></button>
	</ion-fab>
</ion-content>
