page-login {
  .img-background {
    position: fixed;
    left:   0;
    right:  0;
    top:    0;
    z-index: -2;

    display: block;
    background-image: url('../../assets/background/lyon3.jpg');
    width: 1200px;
    height: 800px;

    filter: blur(2px);
  }
  .img-logo {
    width: 160px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
