<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes annonces</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Annonces en cours</ion-list-header>
      <ion-item *ngFor="let item of itemsOpen" class="myAnnonces-annonce" (click)="itemTapped($event, item)">
        <ion-avatar item-left>
          <img [src]="'assets/icon/service-type/'+item.type.icon+'.png'">
        </ion-avatar>
        <h1>{{item.title}}</h1>
        <h2><img [src]="'../../assets/ahPiece_small.png'" class="ah-icon" />  {{item.price}} AH!</h2>
        <h3>En cours</h3>
        <p class="anwser-nb" *ngIf="item.nbTransactions != undefined && !item.answered"><ion-icon name="chatbubbles"></ion-icon> {{item.nbTransactions}}</p>
        <p class="anwser-valid" *ngIf="item.answered"><ion-icon name="checkmark"></ion-icon></p>
      </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Annonces terminées</ion-list-header>
    <ion-item class="myAnnonces-annonce" *ngFor="let item of itemsClosed" (click)="itemTapped($event, item)">
      <ion-avatar item-left>
        <img [src]="'assets/icon/service-type/'+item.type.icon+'.png'">
      </ion-avatar>
      <h1>{{item.title}}</h1>
      <h2><img [src]="'../../assets/ahPiece_small.png'" class="ah-icon" />  {{item.price}} AH!</h2>
      <h3>Terminée</h3>
    </ion-item>
  </ion-list>
</ion-content>
