ion-textarea {
	resize : both;
}

.modalButton{
  height:50px !important;
  margin-bottom:10px;
}

#empty-message img{
  width: 150px;
  height:150px;
  margin-top:20px;
}

#empty-message {
  text-align: center;
}

#empty-message p {
  margin-top: 10px;
}
