<ion-header>
  <ion-toolbar>
    <ion-title>
      Réponse à votre annonce
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-content>
        <p>{{answer.commentary}}</p>
      </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/jm.png">
      </ion-avatar>

      <div *ngIf="answer.announce.sale">
        <h2>{{answer.buyer.firstName}} {{answer.buyer.lastName}}</h2>
        <p><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon> 4,5/5</p>
      </div>
      <div *ngIf="!answer.announce.sale">
        <h2>{{answer.seller.firstName}} {{answer.seller.lastName}}</h2>
        <p><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon> 4,5/5</p>
      </div>

    </ion-item>
    <ion-item>
      <button class="modalButton" ion-button block icon-left (click)="validate();" ><ion-icon name="checkmark"></ion-icon> Choisir cette réponse</button>
      <button class="modalButton" ion-button block icon-left (click)="refuse();"><ion-icon name="trash"></ion-icon> Refuser cette réponse</button>
    </ion-item>
  </ion-list>
</ion-content>
