<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Les Annonces</h4>
                        <p class="category">Tableau répertoriant l'ensemble des annonces de l'application</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>ID</th>
                                    <th>Titre</th>
                                    <th>Type</th>
                                    <th>Lieu</th>
                                    <th>ID Auteur</th>
                                    <th>Prix</th>
                                    <th>Durée</th>
                                    <th>Statut</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let announce of announces">
                                    <td>{{announce.id}}</td>
                                    <td>{{announce.title}}</td>
                                    <td>{{announce.type.name}}</td>
                                    <td>{{announce.address.district}}</td>
                                    <td>{{announce.authorId}}</td>
                                    <td>{{announce.price}}</td>
                                    <td>{{announce.estimatedTime}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
