page-myAnswers {

}

.myAnnonces-annonce ion-avatar img {
  width:80px;
  height:80px;
}

.myAnnonces-annonce h1 {
  font-size:18px;
  font-weight:bold;
}

.myAnnonces-annonce h2 {
  font-size:14px;
  text-align:left;
}

.myAnnonces-annonce h3 {
  font-size:12px;
  font-style:italic;
  color:grey;
  text-align:left;
  margin-top:5px;
}

.myAnnonces-annonce .anwser-nb {
  text-align:right;
  color:#c0392b;
}

.myAnnonces-annonce .anwser-valid {
  text-align:right;
  color:#32CD32;
}
