<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Les Types d'Annonce</h4>
                        <p class="category">Tableau répertoriant l'ensemble des types d'annonce de l'application</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Nom Icone</th>
                                    <th>Icone</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let announcesType of announcesTypes">
                                    <td>{{announcesType.id}}</td>
                                    <td>{{announcesType.name}}</td>
                                    <td>{{announcesType.icon}}</td>
                                    <td><img [src]="'../../../assets/images/icon/service-type/'+announcesType.icon+'.png'" style="height: 50px;width: 50px;"></td>
                                    <td>
                                        <button class="btn btn-default" [routerLink]="['/announceType', announcesType.id]">
                                            <i class="material-icons">mode_edit</i>
                                        </button>
                                        <button class="btn btn-danger" (click)="deleteAnnounceType(announcesType.id)">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
